<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.DDIS.chatRoom.Query.dao.ChatRoomLogMapper">

    <resultMap id="chatRoomLogResultMap" type="com.DDIS.chatRoom.Query.dto.ChatRoomLogQueryDTO">
        <id property="messageNum" column="message_num"/>
        <result property="chatRoomNum" column="chatroom_num"/>
        <result property="clientNum" column="client_num"/>
        <result property="messageContent" column="message_content"/>
        <result property="sendTime" column="send_time"/>
    </resultMap>

    <select id="findById" resultMap="chatRoomLogResultMap">
        SELECT
            message_num
            , chatroom_num
            , client_num
            , message_content
            , send_time
          FROM chatroom_log
        WHERE message_num = #{messageNum}
        ORDER BY message_num DESC;
    </select>

    <select id="findLogsByRoomNum" resultMap="chatRoomLogResultMap">
        SELECT
        message_num
        , chatroom_num
        , client_num
        , message_content
        , send_time
        FROM chatroom_log
        WHERE chatroom_num = #{roomNum}
<!--        SELECT-->
<!--            l.sender AS sender,-->
<!--            l.message_content AS message,-->
<!--            l.send_time AS sendTime-->
<!--        FROM-->
<!--            chatroom_log l-->
<!--        JOIN-->
<!--            chatroom c ON l.chatroom_num = c.chatroom_num-->
<!--        WHERE-->
<!--            c.room_num = #{roomNum}-->
<!--        ORDER BY-->
<!--            l.message_num ASC-->
    </select>
</mapper>