<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DDIS.follow.Query.mapper.FollowMapper">
    <resultMap id="followResultMap" type="com.DDIS.follow.Query.dto.FollowQueryDTO">
        <id property="followNum" column="follow_num"/>
        <result property="followerNum" column="follower_num"/>
        <result property="followingNum" column="following_num"/>
        <result property="clientNickname" column="client_nickname"/>
    </resultMap>

    <select id="findAllFollowersByFollowerNum" resultMap="followResultMap">
        SELECT
               f.follow_num
             , f.follower_num
             , f.following_num
             , c.client_nickname
          FROM follows f
          JOIN clients c ON f.following_num = c.client_num
         WHERE f.follower_num = #{clientNum};
    </select>

    <select id="findAllFollowingsByFollowingNum" resultMap="followResultMap">
        SELECT
               f.follow_num
             , f.follower_num
             , f.following_num
             , c.client_nickname
          FROM follows f
          JOIN clients c ON f.follower_num = c.client_num
         WHERE f.following_num = #{clientNum};
    </select>
</mapper>