# === Gradle 관련 ===
.gradle/
build/

# gradle-wrapper 폴더는 제외하지 않으면 내부 파일도 무시됨
!gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# gradlew 실행 스크립트는 루트에 있음
!gradlew
!gradlew.bat

# === IDE 설정 파일 무시 ===
# STS / Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!/src/main/bin/
!/src/test/bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!/src/main/out/
!/src/test/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# === 설정 파일 무시 ===
**/application.yml
**/application-dev.yml
**/application-prod.yml
**/secret.yml

# === 기타 ===
HELP.md
