<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DDIS.report.Query.mapper.ReportMapper">
    <resultMap id="reportResultMap" type="com.DDIS.report.Query.dto.ReportDTO">
        <id property="reportNum" column="report_num"/>
        <result property="reportContent" column="report_content"/>
        <result property="reportTime" column="report_time"/>
        <result property="reportStatus" column="report_status"/>
        <result property="reportType" column="report_type"/>
        <result property="clientNum" column="client_num"/>
        <result property="clientNickname" column="client_nickname"/>
        <result property="reportTypeNum" column="report_type_num"/>
        <result property="isAccepted" column="is_accepted"/>
    </resultMap>

    <select id="selectAllReports" resultMap="reportResultMap">
        SELECT
               r.report_num
             , r.report_content
             , r.report_time
             , r.report_status
             , r.report_type
             , r.client_num
             , c.client_nickname
             , r.report_type_num
             , r.is_accepted
          FROM reports r
          JOIN clients c ON r.client_num = c.client_num
         ORDER BY report_num DESC;
    </select>
</mapper>